.dashboardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1; /* this will push the footer down if any and take up any available space */
}

.title {
  font-size: 1.2rem;
  text-align: center;
}

.dashboardHeading {
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 2rem;
}

.dashboardButtonsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.dashboardButton {
  background-color: #4caf50; /* adjusted color for contrast */
  border: 2px solid #ffffff;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  font-family: var(--font-mono);
}

.dashboardButton:hover {
  background-color: #087f23; /* darker shade for hover */
  transform: scale(1.05);
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.backButton {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  color: white; 
  font-size: 1.5rem;
  cursor: pointer;
  transition: opacity 0.3s;
}

.backButton:hover {
  opacity: 0.7;
}

/* Dark Mode Adjustments */
@media (prefers-color-scheme: dark) {
  .dashboardContainer {
    background: linear-gradient(45deg, #2c2f33, #23272a); /* Dark mode gradient */
  }

  .dashboardButton {
    border: 2px solid #e3eeff; /* Adjusted border color for dark mode */
  }
}
